 <div class="user-details">
  <h1> About Us </h1>
</div>
<div class="user">
    <div class="tech">
     <p>We are BMM, a systems engineering company based in eastern Kentucky. We are a small business who develops low cost, high capability systems and provides consulting. We are three Morehead State University graduates from the Space Science program. Our team has played critical roles in the development of many university satellite missions, in industry robotics projects, and a wide range of other engineering projects from the simple to the cutting edge. 

We are systems people. We see the big picture, and design from the top down. Using the broad range of capabilities that we possess, we provide customers with custom solutions, consulting, and develop high performance aerospace systems. We design the hardware and software for our systems and perform full validation and testing to industry standards. By working closely with the customer, we are able to custom engineer a solution that reduces risk, reduces timelines, and ultimately provides a solution specifically tailored to the customer. We solve your problems. </p>
    </div>
</div>
