 <div class="user-details">
  <h1> About Us </h1>
</div>
<div class="user">
    <div class="tech">
     <p>We are a tech startup company based in Morehead, KY. Our diverse engineering skillset comes from our background in building small satellites with the Morehead State University, developing cutting edge drone technology in industry positions, and from our lifelong passion for computers, electronics, and robotics. We want to solve your problems both in Eastern Kentucky and beyond.  </p> 
     <p> </p>
     <p>We are systems people. We see the big picture, and design from the top down. Contact us as info@labyrinth-labs.com to discuss how we can you today.</p>
    </div>
</div>
