<div class="user-details">
  <h1> Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/rover.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Robotics/Automation </h3>
    <ul>
      <li> UAS, Rovers, and more</li>
      <li> System Design</li>
      <li> System Integration</li>
    </ul>
    <p>We have been Lead Engineers on several UAS projects in previous industry positions. We have designed, tested, and implemented power systems, PCB's, communications systems, and software systems for autonomous platforms.</p>
    <p></p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/cubesat.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Small Satellites </h3>
    <ul>
      <li> System Design</li>
      <li> Groundstation Operations</li>
      <li> Antenna Design</li>
    </ul>
    <p>Our engineers have been integral in several CubeSat missions, both in design and operations, with the Morehead State University Space Science Center. We have been involved in the ground station operations of many more.</p>
    <p></p>    
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/pcb.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Design Services </h3>
    <ul>
      <li> CAD Modeling</li>
      <li> PCB Design and Fabrication</li>
      <li> Electronic Systems</li>
    </ul>
    <p>We offer engineering services for your business. Let us help you with CAD modeling, PCB design, embedded systems, rapid prototyping, simulations, and more. Contact us today to see if we can help!</p>
    <p></p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/drone.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Drone Services </h3>
    <ul>
      <li> Licensed and Insured UAS Pilots</li>
      <li> Real Estate Photography/Videography</li>
      <li> Land Surveys</li>
      <li> Agricultural Services</li>
    </ul>
    <p>We have hundreds of hours of flight time as Pilots in Command. We can do aerial photography for your business, perform photogrammetry and mapping of your property, perform voumetric measurements from the air, and can use our drones for monitoring your crops health.</p>
    <p></p>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Automotive </h3>
    <ul>
      <li> High Tech Automotive Electronics</li>
      <li> Sensor Logging</li>
      <li> Performance Analytics</li>
    </ul>
    <p>Our technical background has been applied to high-tech automotive components. Let us work with you to help increase your car's performance thorugh advanced electrical systems.</p>
    <p></p>
  </div>
</div>



