<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Robotics/Automation </h3>
    <ul>
      <li> UAS, Rovers, and more</li>
      <li> System Design</li>
      <li> System Integration</li>
    </ul>
    <p></p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Small Satellites </h3>
    <ul>
      <li> System Design</li>
      <li> Groundstation Operations</li>
      <li> Antenna Design</li>
    </ul>
    <p></p>    
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Design Services </h3>
    <ul>
      <li> CAD Modelling</li>
      <li> PCB Design and Fabrication</li>
      <li> Software Architecture</li>
    </ul>
    <p></p>
  </div>
</div>


